<nav class="ui raised menu">
  <header class="ui large header item"> <a href="/"> WeatherTop </a></header>
  <div class = "ui container" style="width:100%; height:60%;">
    <img class= "ui fluid image" src="\public\images\weatherbanner.png">
  </div>
  <div class="right menu">
    <a id="dashboard" class="item" href="/dashboard"> Dashboard  </a>
    <a id="about" class="item" href="/about"> About </a>
    <a id="logout" class="item" href="/logout"> Logout </a>
  </div>
</nav>

<script>
  $("#${_id}").addClass("active item");
</script>